<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品信息管理</title>
<link rel="stylesheet" href="../js/layui/css/layui.css">
<script type="text/javascript" src="../js/layui/layui.js"></script>
</head>
<script type="text/html" id="proInfoToolbar">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript">
		layui.use(['table','form','laydate','laypage'], function() {
			var table = layui.table;
			var form = layui.form;
			var laydate = layui.laydate;
			var laypage = layui.laypage; //分页
			table.render({
				elem : '#ProInfoTab', //指定原始表格元素选择器（推荐id选择器）
				method : "post",
				loading : true,
				page : true,
				limit : 10,
				limits : [ 10, 20, 50 ],
				url : "/SH/pro/info",
				height : '600', //容器高度
				toolbar : 'default',
				cols : [ [ {
					field : 'id',
					title : 'id'
				}, {
					field : 'pname',
					title : '商品'
				}, {
					field : 'pweight',
					title : '价格等级'
				}, {
					field : 'pstate',
					title : '上架状态',
					templet : function(d) {
						if (d.pstate == '1') {
							return '已上架';
						} else if (d.pstate == '2') {
							return '未上架';
						}
					}
				}, {
					field : 'plimit',
					title : '销售状态',
					templet : function(d) {
						if (d.plimit == '1') {
							return '正常';
						} else if (d.plimit == '2') {
							return '停售';
						} else if (d.plimit == '3') {
							return '预售';
						}
					}
				}, {
					field : 'ptypestate',
					title : '规则',
					templet : function(d) {
						if (d.ptypestate == '1') {
							return '已开启';
						} else if (d.ptypestate == '2') {
							return '未开启';
						}
					}
				}, {
					field : 'proPrice',
					title : '价格',
					templet : '<div>{{d.proPrice.plingshou}}</div>'
				}, {
					field : 'proSpec',
					title : '类别',
					templet : '<div>{{d.proSpec.specname}}</div>'
				}, {
					field : 'proBrand',
					title : '品牌',
					templet : '<div>{{d.proBrand.bname}}</div>'
				}, {
					field : 'proUnit',
					title : '单位',
					templet : '<div>{{d.proUnit.unit}}</div>'
				}, {
					field : 'proWarehose',
					title : '仓库地址',
					templet : '<div>{{d.proWarehose.wname}}</div>'
				}, {
					field : 'starttime',
					title : '上传时间'
				}, {
					field : 'upstarttime',
					title : '修改时间'
				}, {
					field : 'poperate',
					title : '操作记录'
				}, {
					field : 'starttime',
					title : '上传时间'
				}, {
					field : 'putawaytime',
					title : '上架时间'
				}, {
					field : 'prosaletime',
					title : '预售时间'
				}, {
					field : 'englishname',
					title : '商品全拼'
				}, {
					field : 'proImg',
					title : '图片',
					templet : '<img src={{d.proImg.iurl}}/>'
				}, {
					fixed : 'right',
					title : '操作',
					width : 165,
					align : 'center',
					toolbar : '#proInfoToolbar'
				} ] ]
			});
		})
</script>
<body>
	<table id="ProInfoTab" class="layui-hide" lay-filter="test"></table>
</body>
</html>

