<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>账号设置详情</title>
<link rel="stylesheet" href="../js/layui/css/layui.css">
<script type="text/javascript" src="../js/layui/layui.js"></script>
<script type="text/javascript"
	src="../js/jquery-easyui-1.9.7/jquery.min.js"></script>
<script type="text/javascript" src="../js/vue/vue.js"></script>
<style type="text/css">
table {
	font-size: 14px;
	color: #5a5a5a;
	width: 100%;
	table-layout: fixed;
}

table  tr th {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table  tr th:first-child {
	width: 10%;
}

table  tr td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table tr{
height: 40px;
}
</style>
</head>
<body>
	<!-- 详情 -->
	<div id="look">

		<table border="1" cellpadding="10" v-for="(item,index) in AList"
			align="center">
			<tr>
				<th colspan="4"><h2>账号详情信息</h2></th>
			</tr>

			<tr>
				<th>注册人:</th>
				<td>{{item.user.user_name}}</td>
				<td rowspan="3" colspan="2"><p>
						<a href=""><img :src="item.user.user_img" alt="图片类别首图连接"
							class="img-thumbnail" width="200px" height="200px" /> </a>
					</p></td>
			</tr>
			<tr>
				<th>账号:</th>
				<td>{{item.acc_name}}</td>
			</tr>

			<tr>
				<th>全拼:</th>
				<td>{{item.user.user_english}}</td>
			</tr>

			<tr>
				<th>注册日期:</th>
				<td>{{item.acc_start}}</td>
				<th>最近一次登录时间:</th>
				<td>{{item.lasttime}}</td>
			</tr>
			<tr>
				<th>手机:</th>
				<td>{{item.user.user_tel}}</td>
				<th>使用状态:</th>
				<td v-if="item.acc_state =='2'" style="color: red;">已被停用</td>
				<td v-if="item.acc_state == '1'" style="color: green;">正在使用</td>


			</tr>
			<tr>
				<th>最近冻结时间:</th>
				<td v-if="item.acc_end != null" style="color: red;">{{item.acc_end}}</td>
				<td v-if="item.acc_end<=0" style="color: blue;">该账号暂无冻结信息</td>
				<th>邮箱:</th>
				<td>{{item.user.user_email}}</td>
			</tr>
		</table>
	</div>
	<script th:inline="javascript">
	var acc_code = [[${acc_code}]];
	var app = new Vue({
		el : "#look",
		data : {
			AList : []
		},
		mounted : function() {
			this.getAccountInfo();
		},
		methods : {
			getAccountInfo : function() {
				var that = this;
			$.post("/SH/auth/getAccountInfo",{
				acc_code:acc_code
			},function(res){
				that.AList=res
			})

			}
		}
	})
	
	
	</script>
</body>
</html>