<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>角色权限管理</title>
<link rel="stylesheet" href="../js/layui/css/layui.css">
<script type="text/javascript" src="../js/layui/layui.js"></script>
<script type="text/javascript"
	src="../js/jquery-easyui-1.9.7/jquery.min.js"></script>
</head>
<style>
.layui-table-cell {
	height: inherit;
}
</style>
<body>
	<table id="roletab" lay-filter="test"></table>

	<script type="text/html" id="roletoolbar">
<form class="layui-form" id="searchinit"  lay-filter="selFilter">
		角色名称：
		<div class="layui-input-inline">
			<input type="text" id="role" value="" lay-verify="required|number" autocomplete="off" class="layui-input">
		</div>
		<a class='layui-btn layui-btn-radius layui-btn-normal' onclick='init()'>搜索</a>
		<a class='layui-btn layui-btn-radius layui-btn-normal' onclick='add()'>添加角色</a>
</form>
</script>



</body>
<div id="edit" hidden="hidden">
	<form class="layui-form layui-form-pane">
		<div class="layui-form-item">
			<label class="layui-form-label">角色名称</label>
			<div class="layui-input-inline">
				<input type="text" id="rolename" lay-verify="required"
					placeholder="请输入新的角色名称" autocomplete="off" class="layui-input">
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	function edit(role_code) {
		var table = layui.table;
		layer.open({
			offset : '30%',
			title : "角色信息修改",
			type : 1,
			content : $('#edit'),
			btn : [ '提交', '关闭' ] //只是为了演示
			,
			yes : function() {
				$.post("/SH/role/updateRole", {
					role_code : role_code,
					role : $.trim($("#rolename").val())
				}, function(res) {
					if (res > 0) {
						table.reload("roletab");
						layer.closeAll();
						layer.msg('修改成功');
					} else {
						table.reload("roletab");
						layer.msg('服务器繁忙请稍后再试。。。。。');
					}
				}, "json")
			},
			btn2 : function() {
				layer.closeAll();
			}
		});
	}

	function shezhi(role_code) {
		layer
				.open({
					offset : '100px',
					area : [ '500px', '500px' ],
					type : 2,
					content : [
							'/SH/system/moduleToRole?role_code=' + role_code,
							'no' ]
				});
	}

	function del(role_code) {
		var table = layui.table;
		layer.msg("确认删除？", {
			time : 3000, //5s后自动关闭
			offset : '20%',
			btn : [ "删除", "取消" ],
			area : [ '200px', '100px' ],
			yes : function() {
				$.post("/SH/role/delRoleByRoleCode", {
					role_code : role_code
				}, function(res) {
					if (res == 1) {
						layer.msg("删除成功")
						table.reload("roletab");
					} else if (res == 20) {
						layer.msg("该角色还有绑定账号,是否强制解除所有绑定？", {
							time : 8000, //8s后自动关闭
							offset : '20%',
							type : 2,
							btn : [ "删除", "取消" ],
							area : [ '400px', '100px' ],
							yes : function() {
								$.post("/SH/role/deleteRoleByRoleCode", {
									role_code : role_code
								}, function(res) {
									if (res > 0) {
										table.reload("roletab");
										layer.msg("已删除");
									} else {
										table.reload("roletab");
										layer.msg("服务器繁忙，请稍后重试。。。");
									}
								})
							}
						})
					} else {
						layer.msg("该角色还有绑定权限,是否强制解除所有绑定？", {
							time : 8000, //8s后自动关闭
							offset : '20%',
							btn : [ "删除", "取消" ],
							area : [ '400px', '100px' ],
							yes : function() {
								$.post("/SH/role/deleteRoleByRoleCode", {
									role_code : role_code
								}, function(res) {
									if (res > 0) {
										table.reload("roletab");
										layer.msg("已删除");
									} else {
										table.reload("roletab");
										layer.msg("服务器繁忙，请稍后重试。。。");
									}
								})
							}
						})
					}
				}, "json")
			}
		});
	}
	$(function() {
		init();
	});

	function init() {
		layui
				.use(
						[ 'table', 'form', 'laydate' ],
						function() {
							var table = layui.table;
							var form = layui.form;
							var laydate = layui.laydate;
							table
									.render({
										elem : '#roletab' //指定原始表格元素选择器（推荐id选择器）
										,
										toolbar : "#roletoolbar",
										where : {
											role : $.trim($("#role").val())
										},

										id : "roletab",
										method : "post",
										loading : true,
										page : true,
										url : "/SH/role/getRole",
										height : 'full-100',
										cols : [ [
												{
													field : "role_code",
													title : "角色编码编码",
												},
												{
													field : 'role',
													title : '角色名称',
												},
												{
													fixed : "right",
													title : "操作",
													templet : function(d) {
														return "<div><a class='layui-btn layui-btn-radius layui-btn-normal'onclick='edit("
																+ d.role_code
																+ ")' >编辑</a><a class='layui-btn layui-btn-radius layui-btn-normal'onclick='shezhi("
																+ d.role_code
																+ ")' >设置</a><a class='layui-btn layui-btn-radius layui-btn-normal'onclick='del("
																+ d.role_code
																+ ")' >删除</a> </div>"
													}
												} ] ],
										limit : 10,
										limits : [ 10, 20, 50 ]
									});
						})
	}
</script>

</html>