<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>角色权限管理</title>
<link rel="stylesheet" href="../js/layui/css/layui.css">
<script type="text/javascript" src="../js/layui/layui.js"></script>
<script type="text/javascript"
	src="../js/jquery-easyui-1.9.7/jquery.min.js"></script>
</head>
<style>
.layui-table-cell {
	height: inherit;
}
</style>
<body>
	<table id="roletab" lay-filter="test"></table>
</body>
<script type="text/javascript">
	function look(acc_code) {
		layer.open({
			offset : '100px',
			area : [ '500px', '500px' ],
			type : 2,
			content : [ '/SH/system/accountInfo?acc_code=' + acc_code, 'no' ]
		});

	}
	function del(acc_code) {
		var table = layui.table;
		layer.msg("确认删除？", {
			time : 3000, //5s后自动关闭
			offset : '30%',
			btn : [ "删除", "取消" ],
			area : [ '200px', '100px' ],
			yes : function() {
				$.post("/SH/auth/delByAcc_code", {
					acc_code : acc_code
				}, function(res) {
					if (res > 0) {
						layer.msg("删除成功")
						table.reload("usertab");
					} else {
						table.reload("usertab");
						layer.msg("删除失败");
					}
				}, "json")
			}
		});
	}
	$(function() {
		init();
	});

	function init() {
		layui
				.use(
						[ 'table', 'form', 'laydate' ],
						function() {
							var table = layui.table;
							var form = layui.form;
							var laydate = layui.laydate;
							table
									.render({
										elem : '#usertab' //指定原始表格元素选择器（推荐id选择器）
										,
										toolbar : "#usertoolbar",
										where : {
											acc_name : $.trim($(
													"#searchacc_name").val()),
											user_code : $.trim($(
													"#searchuser_code").val()),
											acc_state : $.trim($(
													"#searchacc_state").val())
										},

										id : "usertab",
										method : "post",
										loading : true,
										page : true,
										url : "/SH/auth/getAccount",
										height : 'full-100',
										cols : [ [
												{
													field : "role_code",
													title : "角色编码编码",
												},
												{
													field : 'role',
													title : '角色名称',
												},
												{
													fixed : "right",
													title : "操作",
													templet : function(d) {
														return "<div><a class='layui-btn layui-btn-radius layui-btn-normal'onclick='edit("
																+ d.role_code
																+ ")' >编辑</a><a class='layui-btn layui-btn-radius layui-btn-normal'onclick='shezhi("
																+ d.role_code
																+ ")' >设置</a><a class='layui-btn layui-btn-radius layui-btn-normal'onclick='del("
																+ d.role_code
																+ ")' >删除</a> </div>"
													}
												} ] ],
										limit : 10,
										limits : [ 10, 20, 50 ]
									});
						})
	}
</script>

</html>