<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>河南食惠供应链管理有限公司</title>
		<link rel="shortcut icon" href="img/25.ico">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="baidu-site-verification" content="6KK4rSqo4k" />
		<link type="text/css" rel="stylesheet" href="js/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-easyui-1.9.7/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
欢迎来到首页

<a href="system/test1">test1</a>
<a href="system/test2">test2</a>
<a href="system/test3">test3</a>
<a href="system/test4">test4</a>
</body>
</html>