<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>河南食惠供应链管理有限公司</title>
		<link rel="shortcut icon" href="img/25.ico">
		<meta name="keywords" content="食惠，批发，定制，批发零售，厂家，实惠，优惠，批发价格，河南食惠供应链管理有限公司,河南食惠供应链管理有限公司官方网站，河南，周口，郸城，预包装食品，散装食品，速冻食品，保健食品，食盐零售，食品添加剂，南北干货，土特产，酒水饮料，农产品，农副产品，水果生鲜，糖果糕点，日用香料，日用百货，调味剂，膨化食品，米面制品，罐头食品，植物油，奶制品，粮油制品，茶叶，玩具餐饮" />
		<meta name="description" content="批发零售∶预包装食品、散装食品、速冻食品、保健食品、食盐零售、食品添加剂、南北干货、土特产、酒水饮料、农产品、农副产品、水果生鲜、糖果糕点、日用香料、日用百货、调味剂、膨化食品、米面制品、罐头食品、植物油、奶制品、粮油制品、茶叶、玩具、电子产品(含网络销售)；餐饮" />
		<meta name="applicable-device" content="pc" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="baidu-site-verification" content="6KK4rSqo4k" />
		<link type="text/css" rel="stylesheet" href="js/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-easyui-1.9.7/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
欢迎来到首页
</body>
</html>